<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile=".\internal_logs\internallog.txt">

  <targets>
    <target
      name="logfile"
      xsi:type="File"
      fileName=".\logs\${shortdate}_logfile.txt"
      layout="${longdate} ${level:uppercase=true} ${message}"/>

    <target xsi:type="File" name="jsonFile" fileName="log.json">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <!-- O atributo 'properties' conterá todas as suas propriedades estruturadas -->
        <attribute name="properties" layout="${all-event-properties}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="jsonFile" />
  </rules>
</nlog>